.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: #ffffff;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 1.5rem;
    gap: 1rem;
}

.title {
    margin: 0;
    font-size: 1.5rem;
}

.profile-container {
    position: relative;
}

.profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
    color: #ffffff;
}

.profile-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.profile-name {
    font-size: 0.9rem;
    color: #333;
    font-weight: 500;
}

.dropdown-arrow {
    transition: transform 0.3s ease;
}

.dropdown-arrow.open {
    transform: rotate(180deg);
}

.profile-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 0.5rem;
    background-color: #181B1F;
    border: 1px solid #282D32;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    min-width: 200px;
    z-index: 1000;
}

.profile-dropdown.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-name {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #282D32;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 500;
}

.dropdown-email {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #282D32;
    color: #f1f1f1;
    font-size: 0.9rem;
}

.dropdown-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 0.75rem 1rem;
    background: none;
    border: none;
    border-radius: 0px 0px 8px 8px;
    color: rgba(226, 75, 76, 1);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.dropdown-item:hover {
    background-color: rgba(226, 75, 76, 0.2);
} 